<section class="section">
  <div class="hero fullscreen bg-gray-100">
    <div class="hero-body">
      <div class="content">
        <div class="row">
          <div class="col text-center">
            <h1>👋 Hello <span class="text-red-700">Ng</span><span class="text-blue-500">Docker</span>!</h1>
            <h6 class="font-alt font-light">
              A webpage powered by
              <b>
                <i class="fab fa-angular text-red-700"></i> Angular + <i class="fab fa-docker text-blue-500"></i> Docker
                + <i class="fas fa-cloud text-pink-600"></i> Cirrus.
              </b>
            </h6>
            <div class="tag-container group-tags group-tags--rounded mt-2">
              <div class="tag tag--dark">Mark</div>
              <div class="tag tag--info">1.0.0</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="card">
              <div class="card__header">
                <p class="font-bold px-3">Dockerfile</p>
              </div>
              <div class="content mb-0">
                <pre><code>FROM node:latest as build-env
WORKDIR /app

ADD package.json .

RUN npm install

ADD . .

RUN npm run build:prod

FROM nginx:alpine

COPY --from=build-env /app/dist/ng-docker-mark-1 /usr/share/nginx/html
COPY nginx/nginx.conf /etc/nginx/conf.d/default.conf

EXPOSE 8080</code></pre>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card">
              <div class="card__header">
                <p class="font-bold px-3">nginx/nginx.conf</p>
              </div>
              <div class="content mb-0">
                <pre><code>server {{ '{' }}
    listen 80;

    root /usr/share/nginx/html;

    location / {{ '{' }}
        index  index.html index.htm;
        try_files $uri $uri/ /index.html;
    {{ '}' }}
    
    error_page   500 502 503 504  /50x.html;
    
    location = /50x.html {{ '{' }}
        root   /usr/share/nginx/html;
    {{ '}' }}
{{ '}' }}</code></pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
